<%= form_with(model: temporary_tag, local: true) do |form| %>
  <% if temporary_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temporary_tag.errors.count, "error") %> prohibited this temporary_tag from being saved:</h2>

      <ul>
      <% temporary_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :temporary_tag_customer %>
  </div>

  <div class="field">
    <%= form.label :lien_fee %>
    <%= form.number_field :lien_fee, id: :temporary_tag_lien_fee %>
  </div>

  <div class="field">
    <%= form.label :title_fee %>
    <%= form.number_field :title_fee, id: :temporary_tag_title_fee %>
  </div>

  <div class="field">
    <%= form.label :tax_fee %>
    <%= form.number_field :tax_fee, id: :temporary_tag_tax_fee %>
  </div>

  <div class="field">
    <%= form.label :temp_tag %>
    <%= form.number_field :temp_tag, id: :temporary_tag_temp_tag %>
  </div>

  <div class="field">
    <%= form.label :special_plates %>
    <%= form.number_field :special_plates, id: :temporary_tag_special_plates %>
  </div>

  <div class="field">
    <%= form.label :online_fee %>
    <%= form.number_field :online_fee, id: :temporary_tag_online_fee %>
  </div>

  <div class="field">
    <%= form.label :mva_total %>
    <%= form.number_field :mva_total, id: :temporary_tag_mva_total %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.number_field :service_fee, id: :temporary_tag_service_fee %>
  </div>

  <div class="field">
    <%= form.label :total_paid %>
    <%= form.number_field :total_paid, id: :temporary_tag_total_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
