<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @tag_renewal.customer %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @tag_renewal.registration %>
</p>

<p>
  <strong>Reg surcharge:</strong>
  <%= @tag_renewal.reg_surcharge %>
</p>

<p>
  <strong>Special plates:</strong>
  <%= @tag_renewal.special_plates %>
</p>

<p>
  <strong>Mva fee:</strong>
  <%= @tag_renewal.mva_fee %>
</p>

<p>
  <strong>Temp registration:</strong>
  <%= @tag_renewal.temp_registration %>
</p>

<p>
  <strong>Admin flag fee:</strong>
  <%= @tag_renewal.admin_flag_fee %>
</p>

<p>
  <strong>Online fee:</strong>
  <%= @tag_renewal.online_fee %>
</p>

<p>
  <strong>Mva fee:</strong>
  <%= @tag_renewal.mva_fee %>
</p>

<p>
  <strong>Service fee:</strong>
  <%= @tag_renewal.service_fee %>
</p>

<p>
  <strong>Paid total:</strong>
  <%= @tag_renewal.paid_total %>
</p>

<%= link_to 'Edit', edit_tag_renewal_path(@tag_renewal) %> |
<%= link_to 'Back', tag_renewals_path %>
