<%= form_with(model: title, local: true) do |form| %>
  <% if title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(title.errors.count, "error") %> prohibited this title from being saved:</h2>

      <ul>
      <% title.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :title_customer %>
  </div>

  <div class="field">
    <%= form.label :title_number %>
    <%= form.text_field :title_number, id: :title_title_number %>
  </div>

  <div class="field">
    <%= form.label :lien_fees %>
    <%= form.number_field :lien_fees, id: :title_lien_fees %>
  </div>

  <div class="field">
    <%= form.label :title_fee %>
    <%= form.number_field :title_fee, id: :title_title_fee %>
  </div>

  <div class="field">
    <%= form.label :tax_fee %>
    <%= form.number_field :tax_fee, id: :title_tax_fee %>
  </div>

  <div class="field">
    <%= form.label :online_fee %>
    <%= form.number_field :online_fee, id: :title_online_fee %>
  </div>

  <div class="field">
    <%= form.label :mva_total %>
    <%= form.number_field :mva_total, id: :title_mva_total %>
  </div>

  <div class="field">
    <%= form.label :service_fee %>
    <%= form.number_field :service_fee, id: :title_service_fee %>
  </div>

  <div class="field">
    <%= form.label :total_paid %>
    <%= form.number_field :total_paid, id: :title_total_paid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
