<footer class="footer">
  <small>
    <%= link_to "The Q App", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Registrations",      registrations_path %></li>
      <li><%= link_to "Renewals",           tag_renewals_path %></li>
      <li><%= link_to "Temp Tags",          temporary_tags_path %></li>
      <li><%= link_to "Titles",             titles_path %></li>
    </ul>
  </nav>
</footer>