<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <%= link_to "QApp", '#', id:"logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",               '#' %></li>
        <li><%= link_to "Registrations",      '#' %></li>
        <li><%= link_to "Renewals",           '#' %></li>
        <li><%= link_to "Temp Tags",          '#' %></li>
        <li><%= link_to "Titles",             '#' %></li>
        <li><%= link_to "Log in",             '#' %></li>
      </ul>
    </nav>
  </div>
</header>