<div class="form">
  <%= form_tag("/#{type_name}/", method: :get, id: 'search-form') do %>
      <table>

        <tr>
          <th>Customer Name:</th>
          <td><%= text_field_tag :customer, params[:customer]%></td>

          <th>Start Date:</th>
          <td><%= date_field_tag :start_date, params[:start_date]%></td>

          <th>End Date:</th>
          <td><%= date_field_tag :end_date, params[:end_date]%></td>

        </tr>

        <tr>
          <th>Transaction ID:</th>
          <td><%= text_field_tag :search, params[:search] %></td>

          <th>Min. Total:</th>
          <td><%= number_field_tag :total, min: 1 %></td>

          <th>Max Total:</th>
          <td><%= number_field_tag :total, min: 1 %></td>

        </tr>

        <tr>
          <th>
            <%= submit_tag 'Filter', class: 'btn btn-warning btn-vertically-slim normal-size', name: nil %>
            <%= link_to 'Clear', items_path, class: 'btn btn-Primary btn-cancel btn-vertically-slim' %>
          </th>
        </tr>

      </table>
  <% end %>
</div>